@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@interactiveaerial.com">Support@interactiveaerial.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@interactiveaerial.com">info@interactiveaerial.com</a>
</address>