@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Interactive Aerial Log Management System";
}
<div class="centered">
    <div class="jumbotron">
        <h1>Interactive Aerial</h1>
        <p class="lead">Welcome, @User.Identity.GetUserName()!</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>Clients</h2>
            <p>
                This page will take you to a list of current clients. It will provide you the tools to create, update, view, and delete active client accounts as well as
                configure active and inactive accounts.
            </p>
            <p><a class="btn btn-default" href="~/Clients/Index">View Clients &raquo;</a></p>
        </div>
        <div class="col-md-4 ">
            <h2>Logs</h2>
            <p>
                This page will take you to a list of logs with search and filter functionality. Go here to create, update, view, delete, and download specific logs or log packages.
            </p>
            <p><a class="btn btn-default" href="~/FileLogs/Index">View Logs &raquo;</a></p>
        </div>
    </div>
</div>