@{
    ViewBag.Title = "File Processing";
}

<style>
    ol {
        max-height: 700px;
        width: 80%;
        overflow-y: auto;
        list-style-type: none;
        padding: 0;
    }
        ol li {
            padding: 2px;
        }
        ol li:nth-child(2n){
        }
        ol li:nth-child(2n+1){
        }
    input[type="file"] {
        max-width: 100%;
    }
    #fileList ol li span {
        padding: 3px;
    }
</style>

<h2>FTP &amp; File Management</h2>

<div id="fileListDiv" class="col-md-6">
    <h3>FTP File Queue</h3>
 
    <div id="ProcessFiles" class="">
        <div class="form-group">
            <input type="button" value="Process Files" class="btn btn-default" />
        </div>
    </div>

    <ol id="fileList" class="list-group">
        @foreach (var file in ViewBag.FileList)
        {
        <li class="list-group-item"><span class=""></span>@file</li>
        }
    </ol>
</div>

<div class="col-md-6">

</div>

<div class="col-md-6">
    <h3>Manual Upload</h3>

    @using (Html.BeginForm("UploadFile", "Ftp", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()

    <div id="FileSelector" class="">
        <div class="form-group">
            <input name="uploadedFile" type="file" accept=".txt,.log" required />
        </div>
    </div>

    <div id="UploadFile" class="">
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
    }

    <p>@ViewBag.Message</p>
</div>

<div class="clearfix"></div>

<script type="text/javascript">

    $("#ProcessFiles").click(function () {
        //add to-be-processed images
        //process each file
        $("#fileList li").each(function () {
            $(this).children('span').addClass('glyphicon glyphicon-transfer');
            var fileName = $(this).text();

            $.ajax({
                url: '@Url.Action("ProcessFile", "Ftp")',
                type: 'POST',
                async: false,
                data: {
                    fileName: fileName
                }, success: function (data) {
                    //change image to checkmark
                    $(this).children('span').removeClass('glyphicon-transfer').addClass('glyphicon-saved');
                }, error: function (event, jqXHR, ajaxSettings, thrownError) {
                    alert("There was an error processing " + fileName);
                    //change image to error icon
                    $(this).children('span').removeClass().addClass('glyphicon glyphicon-warning-sign');
                }
            });            
        });
    });


</script>