@model IEnumerable<CIT275_Back_end_interface.Models.Client>

<ul>
    @foreach (var item in (List<CIT275_Back_end_interface.Models.Client>)Model)
    {
        <li><a>@Html.DisplayFor(modelItem => item.CompanyName)</a></li>
    }
</ul>