<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://interactive-aerial-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>interactive-aerial-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>interactive-aerial-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$interactive-aerial-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DEV" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:interactiveaerialdb.database.windows.net,1433;Initial Catalog=InteractiveAerialDB;Persist Security Info=False;User ID=IASQLUser;Password=I81ou812%%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CIT275_Back_end_interface.Models.ApplicationDbContext, CIT275-Back-end-interface" MigrationConfiguration="CIT275_Back_end_interface.Migrations.Configuration, CIT275-Back-end-interface" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PROD" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;Persist Security Info=False;User ID=ia-admin;Password=CIT275!!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PROD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;Persist Security Info=False;User ID=ia-admin;Password=CIT275!!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEV-Web.config Connection String">
      <ParameterValue>Data Source=tcp:interactiveaerialdb.database.windows.net,1433;Initial Catalog=InteractiveAerialDB;Persist Security Info=False;User ID=IASQLUser;Password=I81ou812%%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PROD-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>