<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://interactiveaerial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>interactiveaerial.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InteractiveAerial</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InteractiveAerial</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;User ID=ia-admin@interactiveaerial-server.database.windows.net;Password=CIT275!!" Name="Data Source=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;User Id=ia-admin@interactiveaerial-server.database.windows.net;Password=CIT275!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CIT275_Back_end_interface.Models.ApplicationDbContext, CIT275-Back-end-interface" MigrationConfiguration="CIT275_Back_end_interface.Migrations.Configuration, CIT275-Back-end-interface" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Azure_IA" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;Persist Security Info=False;User ID=ia-admin;Password=CIT275!!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure_IA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;Persist Security Info=False;User ID=ia-admin;Password=CIT275!!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure_IA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:interactiveaerial-server.database.windows.net,1433;Initial Catalog=InteractiveAerialDb;User Id=ia-admin@interactiveaerial-server.database.windows.net;Password=CIT275!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>